<div class="card">
  <div class="card-header text-black bg-info">
    S'enregister
  </div>
  <div class="card-body">
    <form class="row g-3 needs-validation" novalidate (ngSubmit)="saveData()" [formGroup]="registerForm">

      <div class="col-md-4">
        <label class="form-label">Nom</label>
        <input type="text" class="form-control" placeholder="Nom..."
        formControlName="lastName"
        [ngClass]="{'is-invalid':registerForm.get('lastName')?.touched && !registerForm.get('lastName')?.valid}">
        <!-- #registerForm.get('lastName')="ngModel"  pour avoir le status de l'input -->
        <div class="invalid-feedback">
          <span *ngIf="registerForm.get('lastName')?.errors?.['required']">Entrez votre nom</span>
          <span *ngIf="registerForm.get('lastName')?.errors?.['minlength']">Minimum 4 charactéres </span>
        </div>
      </div>
      <!--  -->
      <div class="col-md-4">
        <label class="form-label">Prenom</label>
        <input type="text" class="form-control" placeholder="Prenom"
          formControlName="firstName"
          [ngClass]="{'is-invalid':registerForm.get('firstName')?.touched && !registerForm.get('firstName')?.valid}">

        <div class="invalid-feedback">
          <span *ngIf="registerForm.get('firstName')?.errors?.['required']">Entrez votre prénom</span>
          <span *ngIf="registerForm.get('firstName')?.errors?.['minlength']">Minimum 4 charactéres </span>
        </div>

      </div><br>
      <!--  -->
      <div class="col-md-4">
        <label class="form-label">Email</label>
        <div class="input-group has-validation">
          <span class="input-group-text">@</span>
          <input type="email" class="form-control" placeholder="Email"
          formControlName="email"
          [ngClass]="{'is-invalid':registerForm.get('email')?.touched && !registerForm.get('email')?.valid}">

          <div class="invalid-feedback">
            <span *ngIf="registerForm.get('email')?.errors?.['required']">Entrez votre E-mail</span>
            <span *ngIf="registerForm.get('email')?.errors?.['email']">Entrez un E-mail valide </span>
          </div>
        </div>
      </div>
  <!--  -->
      <div class="col-md-4">
        <label class="form-label">Phone</label>
        <div class="input-group has-validation">
          <span class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i> </span>
          <input type="tel" class="form-control" placeholder="phone" formControlName="phone"
          formControlName="phone"
          [ngClass]="{'is-invalid':registerForm.get('phone')?.touched && !registerForm.get('phone')?.valid}">

          <div class="invalid-feedback">
            <span *ngIf="registerForm.get('phone')?.errors?.['required']">Entrez votre phone</span>
            <span *ngIf="registerForm.get('phone')?.errors?.['minlength']">Entrez un phone valide </span>
          </div>
        </div>
      </div><br>
      <!--  -->

      <div class="col-md-4">
        <label class="form-label" for="ratingId">Note</label>
        <input type="number" class="form-control"
        id="ratingId"
        placeholder="Note..."
        formControlName="rating"
        [ngClass]="{'is-invalid':
        (registerForm.get('rating')?.touched
         || registerForm.get('rating')?.dirty)
         && !registerForm.get('rating')?.valid}">

        <div class="invalid-feedback">
          <span *ngIf="registerForm.get('rating')?.errors?.['rangeErreur']">
            Notez notre service client sur une échelle de 1 a 5</span>
        </div>
      </div>
        <!-- button radio email-->
        <div class="form-check">
          <h4> Recevoir les notifications</h4>
          <input class="form-check-input" type="radio"
          value="email"
          formControlName="notification"
          (click)="setNotificationSitting('email')" >
          <label class="form-check-label" >
            E-mail
          </label>
        </div>
  <!-- button radio texte-->
        <div class="form-check">
          <input class="form-check-input" type="radio"
           value="text"
           formControlName="notification"
           (click)="setNotificationSitting('text')">
          <label class="form-check-label" >
            Texte
          </label>
        </div>



      <!-- la deuxieme partie de formulaire  -->
      <div class="form-row mb-3">
        <div class="col-md-12">
          <div class="form-check mt-4 pt-3">
            <label for="sendCatalogId" class="form-check-label">
              <input type="checkbox" class="form-check-input" formControlName="sendCatalog">
              Oui je souhaite recevoir la pub
            </label>
          </div>
        </div>
      </div>

      <!--
      <div *ngIf="registerForm.get('sendCatalog')">

        <div class="form-row mb-3">
          <div class="col-md-6">
            <label for="">Adresse 1</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col-md-6">
            <label for="">Adresse 2</label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="">Ville</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-3 mb-3">
            <label for="">Departement</label>
            <select class="form-control">
              <option value="">Selectionner un département</option>
              <option value="A">A</option>
              <option value="A">B</option>
              <option value="A">C</option>
              <option value="A">D</option>
            </select>
          </div>
          <div class="col-md-3 md-3">
            <label for="">Code postal</label>
            <input type="number" class="form-control" min="0">
          </div>
        </div>
      </div>-->
      <!-- button Remplir les champs -->

         <!-- button submit -->
      <div class="col-12">
        <button type="button" class="btn btn-warning mr-2" (click)="fillFormData()" > <!-- event binding -->
        Remplir les champs par défaut</button>
        <button class="btn btn-info" type="submit" [disabled]="!registerForm.valid">Sauvegarder</button>
      </div>

    </form>
  </div>
</div>
<hr>

<p> Dirty: {{ registerForm.dirty }} </p>
<p> Pristine: {{ registerForm.pristine }} </p>
<p> Valid: {{ registerForm.valid }} </p>
<p> InValid: {{ registerForm.invalid }} </p>
<p> Value: </p>
<pre>{{ registerForm.value | json  }} </pre>
